doctype
html
  head
    title Rollout Admin UI
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M' crossorigin='anonymous')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    style.
      body {
        background: #f1f1f1;
      }
      .slider {
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-top: 1rem;
          height: 10px;
          border-radius: 5px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
      }
      .row:hover .slider {
        opacity: 1;
      }
      .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 30px;
          height: 30px;
          background: #4CAF50;
          cursor: pointer;
          border-radius: 50%
      }
      footer {
        text-align: center
      }
      .container {
        margin-top: 6rem;
      }
      .inner {
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .row {
        background: #fff;
      }
      button.btn.disabled {
        opacity: 0.4;
      }
  body
    nav.navbar.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='') Rollout Administration

    .container
      .inner
        each mod, key in all_mods
          h3= utils.formatFlag(key)
          each val, name in mod
            .row.p-3.mb-3.border.rounded.border-info
              code.name= utils.formatFlag(name == 'id' ? 'everyone' : name)
              input.val(type='text', value=val)
              .input-group(data-key-name=key, data-mod-name=name)
                input.slider(type='range', min='0', max='100000', value=val * 1000)
                span.input-group-btn
                  button.btn.btn-primary.update.disabled(type='button') update
        footer
          p <a href='https://github.com/ded/rollout-ui'>rollout-ui</a> License MIT, <code>v 0.0.2</code>. Developed by <a href='https://twitter.com/ded'>@ded</a>.
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script.
      $('body').on('click', '.update', function (e) {
        var $group = $(this).closest('.input-group')
        $.ajax({
          url: location.href,
          method: 'put',
          data: { data: JSON.stringify({
            flag: $group.data('key-name'),
            mod: $group.data('mod-name'),
            val: $group.find('input.slider').val() / 1000
          })}
        })
        .then(function () {
          location.reload()
        })
      });
      $('body').on('input', 'input.slider', function () {
        var $row = $(this).closest('.row')
        $row.find('input.val').val(this.value / 1000);
        $row.find('button.update').toggleClass('disabled', this.value == this.defaultValue);
      });

      $('body').on('input', 'input.val', function (e) {
        this.value = this.value.replace(/[^\d\.]/g, '')
        var $row = $(this).closest('.row')
        $row.find('input.slider').val(this.value * 1000);
        $row.find('button.update').toggleClass('disabled', this.value == this.defaultValue);
      });
